*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.post{
    max-width: 700px;
    width: 100%;
    border: 1px solid grey;
    padding: 1rem;
    margin-bottom: 2rem;
}
.post__wrapper{
    display: flex;
    align-items: flex-start;
}
.post__inner{
    display: flex;
    flex-direction: column;
}
.post__header{
    display: flex;
    align-items: center;
}
.post__content{
    text-align: left;
    margin: 0 0 0.5rem 0;
}
.post__avatar{
    width: 60px;
    border-radius: 50%;
    margin-right: 0.5rem;
}
.post__author-name{
    font-size: 1.2rem;
    margin: 0;
}
.post__author-nickname,
.post__date{
    color: grey;
    margin: 0 0.5rem;
}
.post__dot{
    color: grey;
}
.post__content{
    font-size: 1.2rem;
}
.post__img{
    width: 100%;
    border-radius: 20px;
}